<header id="desktop">
  <div>
    <div id="pesquisa">
      @if (showSearchBar) {
      <form class="pesquisa" autocomplete="off">
        <input
          class="transition"
          type="search"
          name="pesq"
          id="ipesq-desktop"
          title="Digite aqui sua pesquisa pelo nome do usuário"
          placeholder="{{ searchBarPlaceholder }}"
          [(ngModel)]="searchQuery"
          (input)="onSearch($event)"
          (keydown.enter)="$event.preventDefault()"
        />
      </form>
      }
    </div>
    <div id="usuario">
      <img src="../../../assets/images/foto-usuario.jpeg" />
      <span>João Pedro</span>
      <span id="divisor"></span>
      <span (click)="logout()" id="logout" class="logout">SAIR</span>
    </div>
  </div>
</header>
